
/* navigation bar */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: "#333333";
    color: #ffffff;
    padding: 0.5% 0.5%;
    font-size: 1.2em;
    border: 0;
}

header {
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    float: left;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, 
.navbar-inverse .navbar-nav .active a:focus, 
.navbar-inverse .navbar-nav .active a:hover {
    color: #ffffff;
    background-color: #111111;
}

.navbar-inverse .navbar-nav li a {
    color: #d5d5d5;
}

/* My images carousel */

h1 {
    font-size: 3em;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

#myImagesCarousel {
    background-color: #333333;
}

#myImages {
    max-width: 90%;
    margin: auto;
}

.img-thumbnail {
    border-radius: 5em;
    width: 15em;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn {
    font-size: 18px;
    color: #ffffff;
    padding: 12px 22px;
    background: #333333;
    border: 2px solid #ffffff;
}

.img-responsive {
    max-width: 200px;
}

/* Skills list */

.list-group {  
    border-top: 5px solid #eee; 
    padding: 10px 0; 
}

.list-group li {  
    letter-spacing: 0.5px; 
}

.container {
    margin: 4% auto;
}

/* Projects carousel */

.project-details {
    text-transform: none;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
}

.project-tags {
    text-transform: none;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
}
  
.collage-row {
    padding: 10px;
    display: flex;
    background-color: #333333;
}

.collage-column {
    min-height: 100%;
}
  
.collage-column img {
    padding: 10px;
    width: 100%;
    vertical-align: middle;
}

/* Work experience */
span {
    display: inline-block;
}

#necunos { 
    margin: 0.67em 0;
    letter-spacing: 0.1rem;
    font-family: "Josefin Sans"; 
    font-size: 64px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

#n_letter {
    color: rgb(16, 98, 122);
}

#ecunos {
    color: #000;
}

.col-md-6 {
    padding-bottom: 32px;
}

/* Footer */

footer {
    width: 100%;
    background-color: #333333;
    padding: 3%;
    color: #ffffff;
}

#icon {
    max-width: 200px;
    margin: 1% auto;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
}

.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
}

/* Scaling */

@media (max-width: 1366px) {
    
    .img-thumbnail {
        border-radius: 2.5em;
        width: 10em;
    }
}

@media (max-width: 1050px) {
    .img-thumbnail {
        display: none;
    }
    br {
        display: none;
    }
}

@media (max-width: 900px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    .btn {
        font-size: 10px;
        padding: 6px 12px;
    }
    .project-date {
        display: none;
    }
}

@media (max-width: 670px) {
    
    .carousel-caption span {
        display: none;
    }

    #icon {
        max-width: 150px;

    }
    #necunos {
        font-size: 32px;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.2em;
    }
}
